@mixin transform($transform-type) {
  transform: $transform-type;
  -webkit-transform: $transform-type;
  -moz-transform: $transform-type;
  -ms-transform: $transform-type;
  -o-transform: $transform-type;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin text-gradient($color-gradient, $color) {
  background: $color-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color;
}

@mixin rounded($rounded-value) {
  border-radius: $rounded-value;
  -webkit-border-radius: $rounded-value;
  -moz-border-radius: $rounded-value;
  -ms-border-radius: $rounded-value;
  -o-border-radius: $rounded-value;
}

@mixin flex($direccion, $justify, $items, $wrap, $gap) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $justify;
  align-items: $items;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin transition($duration) {
  transition: all $duration;
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -ms-transition: all $duration;
  -o-transition: all $duration;
}

@mixin media($screen, $width-s, $height-s) {
  @media (max-width: $screen) {
    width: $width-s;
    height: $height-s;
  }
}
