// Imagenes
$imagen-background-0: "https://static.vecteezy.com/system/resources/previews/001/218/636/non_2x/colorful-holographic-gradient-vector.jpg";
$imagen-background-1: "https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";
$imagen-background-2: "https://images.pexels.com/photos/288099/pexels-photo-288099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";
$imagen-background-3: "https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";

// fuentes
$Raleway: "Raleway", sans-serif;

// Colores
$color-0: #fefefe;
$color-1: #17202a;

// Gradientes
$color-gradient-0: linear-gradient(
  43deg,
  #4158d0 0%,
  #c850c0 46%,
  #ffcc70 100%
);
$color-gradient-1: linear-gradient(
  134.6deg,
  rgba(201, 37, 107, 1) 15.4%,
  rgba(116, 16, 124, 1) 74.7%
);
